.App {
  text-align: center;
}

.header {
  flex: 1;
  padding: 5px 40px 5px 40px;
}

.row {
  display: flex;
}

.column.side {
  flex: 1;
}

.column.middle {
  flex: 2;
  margin-top: 10px;
}

.column.side.right {
  text-align: right;
  color: white
}

.headerTheme input[type=text] {
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
  width: 98%
}

.userName {
  position: relative;
  bottom: 13px
}

.organisation_Name {
  position: relative;
  bottom: 30px
}

.box {
  width: 33%;
  float: left
}

.socialMedia img {
  padding: 5px;
  width: 40px
}

.buy {
  padding: 9px 22px;
  text-align: center;
  margin-bottom: 10px;
  border: 0px
}

.center {
  text-align: center
}

.product {
  width: 50%;
  height: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
